[submodule "bundle/NERD-Commenter"]
	path = bundle/NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
	ignore=dirty
[submodule "bundle/NERD-Tree"]
	path = bundle/NERD-Tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
	ignore=dirty
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = git://github.com/vim-scripts/SuperTab.git
	ignore=dirty
[submodule "bundle/Solarized"]
	path = bundle/Solarized
	url = git://github.com/vim-scripts/Solarized.git
	ignore=dirty
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
	ignore=dirty
[submodule "bundle/python"]
	path = bundle/python
	url = git://github.com/vim-scripts/python.vim.git
	ignore=dirty
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = git://github.com/vim-scripts/ctags.vim.git
	ignore=dirty
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
	ignore=dirty
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = git://github.com/vim-scripts/calendar.vim--Matsumoto.git
	ignore=dirty
[submodule "bundle/Gundo"]
	path = bundle/Gundo
	url = git://github.com/vim-scripts/Gundo.git
	ignore=dirty
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/vim-scripts/vim-coffee-script.git
	ignore=dirty
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/vim-scripts/Align.git
	ignore=dirty
[submodule "bundle/vimacs"]
	path = bundle/vimacs
	url = git://github.com/vim-scripts/Vimacs.git
	ignore=dirty
[submodule "bundle/increment"]
	path = bundle/increment
	url = git://github.com/vim-scripts/increment.vim.git
	ignore=dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore=dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/vim-scripts/surround.vim.git
	ignore=dirty
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
	ignore=dirty
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore=dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
	ignore=dirty
[submodule "bundle/smartinput"]
	path = bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
	ignore=dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore=dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore=dirty
[submodule "bundle/EasyGrep"]
	path = bundle/EasyGrep
	url = git://github.com/vim-scripts/EasyGrep.git
	ignore=dirty
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
	ignore=dirty
